.App {
  margin-left: 5%;
  margin-right: 5%;
  text-align: left;
}
.main-grid{
  display:grid;
  grid-template-columns: 1fr 4fr;
}
.gallery{
  display: flex;
  flex-wrap:wrap;
  justify-content: left;
}
.side-bar-label:link{
  color:red;
}
